.copyright
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} ❤ #[a(href=config.url)!= config.author], theme by #[a(href=config.url)!='cat'], designed by #[a(href='https://github.com/bozbalci')!='bozbalci'].